{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lector page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage1.css' %}">
</head>
<body>
    <div class="lector-page"> 
        <div class="lector">
            <img src={{lector.photo.url}} alt={{lector.photo}} style="width:300px;height:300px;">
            <br><h2>{{lector.name}}</h2>
            <p>{{lector.description}}</p>
            <p>Kontakt: {{lector.contact}}</p>
        </div>
    </div>
</body>
</html>