{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Homepage{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link href="https://fonts.cdnfonts.com/css/ysabeau-sc" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <div class="page">
        <div class="header">
            <nav>
                <div class="logo">
                    <img src="static/images/logo.png" alt="logo" width="200">
                </div>
                <ul class="menu">
                    <li><a href="{% url 'homepage' %}">Úvod</a></li>
                    <li><a href="{% url 'events' %}">Kdy a kde</a></li>
                    <li><a href="{% url 'lectors' %}">S kým</a></li>
                    <li><a href="{% url 'o_tancich' %}">Ostatní</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            
        </div>
    </div>
</body>
</html>
