{% load static %}
{% load custom_filters %}

<div class="evening-card event-card evening-card-color{{ event.colorNumber }}">
    <a href="{% url 'evening_page' id=event.id %}" style="text-decoration: none;">
        <div class="event-card-inner">
            <div class="event-title">
                {{ event.parent.location.town }}
                {% if event.parent.location.country and event.parent.location.country != 'CZ' %}
                {% static 'images/flags/'|add:event.parent.location.country|add:'.jpg' as flag_src %}
                <img class="event-flag" src="{{ flag_src }}" alt="{{ event.parent.location.country }}">
                {% endif %}
            </div>

            <div class="event-date">
                {% with event|date_format as date %}
                {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}&ndash;{{ date.endTime }}{% endif %}
                {% endwith %}
            </div>

            <div class="evening-content event-content">
                <div class="evening-address">
                    {% if event.parent.location.name %} <div>{{ event.parent.location.name }}</div> {% endif %} <div>{{ event.parent.location.address }}</div>
                </div>
                <div class="evening-lectors">
                    {% for lector in event.parent.ordered_lectors %}
                    <a class="event-lector" href="{% url 'lector_page' slug=lector.slug %}">
                        <img class="event-lector-image" src="{{ lector.image.url }}" alt="lector" />
                        <div class="event-lector-name">
                            {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </a>
</div>