{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Events{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="filter">
    <form method="get" action="{% url 'events' %}">
        <button type="submit" name="filter" value="ALL" class="button {% if selected_filter == 'ALL' %}active{% endif %}">Všechny</button>
        <button type="submit" name="filter" value="WORKSHOP" class="button {% if selected_filter == 'WORKSHOP' %}active{% endif %}">Workshopy</button>
        <button type="submit" name="filter" value="EVENT" class="button {% if selected_filter == 'EVENT' %}active{% endif %}">Taneční večery</button>
    </form>
</div>
<div class="archiv">
    <form method="get" action="{% url 'past_events' %}">
        <button type="submit" class="archiv-button">Archiv událostí</button>
    </form>
</div>
<div class="search-container">
    <form method="get" action="{% url 'search' %}">
        <input type="text" name="query" placeholder="Hledat..." value="{{ request.GET.query }}">
        <button type="submit">Hledat</button>
    </form>
</div>
<div class="events">
    {% if selected_filter == 'ALL' %}
        {% for item in combined|filter_past_events %}
        {% if item|is_instance:'Event' %}
        <div class="event-cards">
            <div class="event-card event-card-color{{ event.colorNumber }}">
                <div class="event-town">{{ event.parent.location.town }}</div>
                <div class="event-date">
                    {% with event|date_format as date %}
                        {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}–{{ date.endTime }} {% endif %}
                    {% endwith %}
                </div>
                <div class="event-content">
                    <div class="event-address">{{ event.parent.location.name }} <br> {{ event.parent.location.address }} </div>
                    <div class="event-lectors">
                        <div class="event-lector">
                            {% for lector in event.parent.lector.all %}
                            <a href="{% url 'lector_page' slug=lector.slug %}">
                                <img class="event-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                <div class="event-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="workshop-cards">
            <a href="{{ workshop.link }}">
                <div class="workshop-card">
                    <div class="workshop-title">{{ workshop.title }}</div>
                    {% if workshop.image %}
                    <img class="workshop-image" src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                    {% endif %}
                    <div class="workshop-date">
                        {% with workshop|date_format as date %}
                                {{ date.day }} {{ date.date }}
                        {% endwith %}
                    </div>
                    <div class="workshop-content">
                        <div class="workshop-address"><div class="workshop-address-town">{{ workshop.location.town }}</div>{{ workshop.location.address }} </div>
                        <div class="workshop-time">8:00-18:00</div>
                        <div class="workshop-description">
                            {{ workshop.description }}
                        </div>
                        <div class="workshop-lectors">
                            <div class="workshop-lector">
                                {% for lector in workshop.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    <img class="workshop-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                    <div class="workshop-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% if not combined %}
            <div class="no-events">Momentálně nejsou žádné události.</div>
        {% endif %}
    {% else %}
    <div id="events" class="text-container section">
        <div class="section-title">Taneční večery</div>
        {% if events|filter_past_events %}
        <div class="event-cards">
            {% for event in events|filter_past_events|slice:":10" %}
            <div class="event-card event-card-color{{ event.colorNumber }}">
                <div class="event-town">{{ event.parent.location.town }}</div>
                <div class="event-date">
                    {% with event|date_format as date %}
                        {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}–{{ date.endTime }} {% endif %}
                    {% endwith %}
                </div>
                <div class="event-content">
                    <div class="event-address">{{ event.parent.location.name }} <br> {{ event.parent.location.address }} </div>
                    <div class="event-lectors">
                        <div class="event-lector">
                            {% for lector in event.parent.lector.all %}
                            <a href="{% url 'lector_page' slug=lector.slug %}">
                                <img class="event-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                <div class="event-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        {% endif %}
            {% if not workshops and not events %}
            <div class="no-events">
                Momentálně nejsou naplánované žádné taneční večery.
            </div>
            {% endif %}
        </div>
        <div id="workshops" class="text-container section">
            <div class="section-title">Workshopy</div>
            {% if workshops|filter_past_events %}
            <div class="workshop-cards">
                {% for workshop in workshops|filter_past_events|slice:":3" %}
                <a href="{{ workshop.link }}">
                <div class="workshop-card">
                    <div class="workshop-title">{{ workshop.title }}</div>
                    {% if workshop.image %}
                    <img class="workshop-image" src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                    {% endif %}
                    <div class="workshop-date">
                        {% with workshop|date_format as date %}
                                {{ date.day }} {{ date.date }}
                        {% endwith %}
                    </div>
                    <div class="workshop-content">
                        <div class="workshop-address"><div class="workshop-address-town">{{ workshop.location.town }}</div>{{ workshop.location.address }} </div>
                        <div class="workshop-time">8:00-18:00</div>
                        <div class="workshop-description">
                            {{ workshop.description }}
                        </div>
                        <div class="workshop-lectors">
                            <div class="workshop-lector">
                                {% for lector in workshop.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    <img class="workshop-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                    <div class="workshop-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}  
            {% if not workshops and not events %}
                <p>Momentálně nejsou naplánované žádné workshopy.</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
