{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ event.parent.location.town }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/evening_page.css' %}">
{% endblock %}

{% block content %}
<div class="event-detail section-container">
    <div class="event-title">{{ event.parent.location.town }}</div>
    <div class="event-date">
        {% with event|date_format as date %}
        {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}&ndash;{{ date.endTime }} {% endif %}
        {% endwith %}
    </div>
    <div class="event-address">{{ event.parent.location.name }} <br> {{ event.parent.location.address }} </div>
    {% if event.parent.description %}
    <div class="evening-description">
        {{ event.parent.description|safe }}
    </div>
    {% endif %}
    {% if event.description %}
    <div class="event-description">
        {{ event.description|safe }}
    </div>
    {% endif %}
    <div class="lectors">
        {% for lector in event.parent.lector.all %}
        <div class="lector">
            <a href="{% url 'lector_page' slug=lector.slug %}" style="text-decoration: none;">
                <img src="{{ lector.image.url }}" alt="{{ lector.firstName }}">
                <div class="lector-name">
                    {{lector.firstName}} {%if lector.lastName%} <br>{{lector.lastName}} {%endif%}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
