{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Events{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
{% endblock %}

{% block content %}
<div class="kde_tancime">
    <h2>Kde tančíme:</h2>
    <br><img src="/static/images/mapa.jpg" alt="mapa" style="height:300px;">
</div>
<div><h1>Budoucí akce:</h1></div>
<div class="filter">
    <form method="get" action="{% url 'events' %}">
        <button type="submit" name="filter" value="ALL" class="button {% if selected_filter == 'ALL' %}active{% endif %}">Všechny</button>
        <button type="submit" name="filter" value="WORKSHOP" class="button {% if selected_filter == 'WORKSHOP' %}active{% endif %}">Workshopy</button>
        <button type="submit" name="filter" value="EVENT" class="button {% if selected_filter == 'EVENT' %}active{% endif %}">Večerní akce</button>
    </form>
</div>
<div class="archiv">
    <form method="get" action="{% url 'past_events' %}">
        <button type="submit" class="archiv-button">Archiv událostí</button>
    </form>
</div>
<div class="search-container">
    <form method="get" action="{% url 'search' %}">
        <input type="text" name="query" placeholder="Hledat..." value="{{ request.GET.query }}">
        <button type="submit">Hledat</button>
    </form>
</div>
<div class="events">
    {% if selected_filter == 'ALL' %}
        {% for item in events %}
            {% if item|instanceof:"Event" %}
                <div class="event">
                    <h2>{{ item.title }}</h2>
                    <div class="image">
                        <img src="{{ item.image.url }}">
                    </div>
                    <div class="event-details">
                        {% if item.link %}
                            <p><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></p>
                        {% endif %}
                        {% with item|date_format as date %}
                            <p>{{ date.day }} {{ date.date }} <br>{% if date.time %} {{ date.time }} {% endif %}</p>
                        {% endwith %}
                        <p><strong>Kde: </strong>{{ item.location.town }}, {{ item.location.address }}</p>
                        {% if item.location.description %}
                            <p>{{ item.location.description }}</p>
                        {% endif %}
                        <p><strong>S kým: </strong>
                            {% for lector in item.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </p>
                        {% if item.price %}
                            <p><strong>Cena: </strong>{{ item.price }}</p>
                        {% endif %}
                        <p><strong>Kontakt: </strong><small>{{ item.contact }}</small></p>
                        <p class="description"><strong>Na co se těšit: </strong>{{ item.description }}</p>
                        <button class="toggle-description">↓</button>
                    </div>
                </div>
            {% elif item|instanceof:"Workshop" %}
                <div class="workshop">
                    <h2>{{ item.title }}</h2>
                    <div class="workshop-image">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    </div>
                    <div class="workshop-details">
                        {% if item.link %}
                            <p><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></p>
                        {% endif %}
                        {% with item|date_format as date %}
                            <p>{{ date.day }} {{ date.date }} <br>{% if date.time %} {{ date.time }} {% endif %}</p>
                        {% endwith %}
                        <p><strong>Kde: </strong>{{ item.location.town }}, {{ item.location.address }}</p>
                        {% if item.location.description %}
                            <p>{{ item.location.description }}</p>
                        {% endif %}
                        <p><strong>S kým: </strong>
                            {% for lector in item.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </p>
                        {% if item.price %}
                            <p><strong>Cena: </strong>{{ item.price }}</p>
                        {% endif %}
                        <p><strong>Kontakt: </strong><small>{{ item.contact }}</small></p>
                        <p class="description"><strong>Na co se těšit: </strong>{{ item.description }}</p>
                        <button class="toggle-description">↓</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if not events %}
            <p>Momentálně nejsou žádné události.</p>
        {% endif %}
    {% else %}
        <div class="events">
            {% for event in events %}
                <div class="event">
                    <h2>{{ event.title }}</h2>
                    <div class="image">
                        <img src="{{ event.image.url }}">
                    </div>
                    <div class="event-details">
                        {% if event.link %}
                            <p><a href="{{ event.link }}" target="_blank">{{ event.link }}</a></p>
                        {% endif %}
                        {% with event|date_format as date %}
                            <p>{{ date.day }} {{ date.date }} <br>{% if date.time %} {{ date.time }} {% endif %}</p>
                        {% endwith %}
                        <p><strong>Kde: </strong>{{ event.location.town }}, {{ event.location.address }}</p>
                        {% if event.location.description %}
                            <p>{{ event.location.description }}</p>
                        {% endif %}
                        <p><strong>S kým: </strong>
                            {% for lector in event.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </p>
                        {% if event.price %}
                            <p><strong>Cena: </strong>{{ event.price }}</p>
                        {% endif %}
                        <p><strong>Kontakt: </strong><small>{{ event.contact }}</small></p>
                        <p class="description"><strong>Na co se těšit: </strong>{{ event.description }}</p>
                        <button class="toggle-description">↓</button>
                    </div>
                </div>
            {% endfor %}
            {% if not events %}
                <p>Momentálně nejsou žádné události.</p>
            {% endif %}
        </div>
        <div class="workshops">
            {% for workshop in workshops %}
                <div class="workshop">
                    <h2>{{ workshop.title }}</h2>
                    <div class="workshop-image">
                        <img src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                    </div>
                    <div class="workshop-details">
                        {% if workshop.link %}
                            <p><a href="{{ workshop.link }}" target="_blank">{{ workshop.link }}</a></p>
                        {% endif %}
                        {% with workshop|date_format as date %}
                            <p>{{ date.day }} {{ date.date }} <br>{% if date.time %} {{ date.time }} {% endif %}</p>
                        {% endwith %}
                        <p><strong>Kde: </strong>{{ workshop.location.town }}, {{ workshop.location.address }}</p>
                        {% if workshop.location.description %}
                            <p>{{ workshop.location.description }}</p>
                        {% endif %}
                        <p><strong>S kým: </strong>
                            {% for lector in workshop.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </p>
                        {% if workshop.price %}
                            <p><strong>Cena: </strong>{{ workshop.price }}</p>
                        {% endif %}
                        <p><strong>Kontakt: </strong><small>{{ workshop.contact }}</small></p>
                        <p class="description"><strong>Na co se těšit: </strong>{{ workshop.description }}</p>
                        <button class="toggle-description">↓</button>
                    </div>
                </div>
            {% endfor %}
            {% if not workshops %}
                <p>Momentálně nejsou žádné workshopy.</p>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}
