{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ event.parent.location.town }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lector_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/evening_page.css' %}">
{% endblock %}

{% block content %}
<div class="event-detail section-container">
    <div class="event-title">{{ event.parent.location.town }}</div>
    <div class="event-date">
        {% with event|date_format as date %}
        {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}&ndash;{{ date.endTime }} {% endif %}
        {% endwith %}
    </div>
    {% if event.parent.location.country and event.parent.location.country != 'CZ' %}
    <div class="event-country">
        {% static 'images/flags/'|add:event.parent.location.country|add:'.jpg' as flag_src %}
        <img class="flag" src="{{ flag_src }}" alt="{{ event.location.country|country_name }}">
        <span class="country-name">{{ event.parent.location.country|country_name }}</span>
    </div>
    {% endif %}
    <div class="event-address">{% if event.parent.location.name %} {{ event.parent.location.name }} <br> {% endif %} {{ event.parent.location.address }} </div>
    {% if event.parent.description %}
    <div class="event-description">
        {{ event.parent.description|safe }}
    </div>
    {% endif %}
    {% if event.description %}
    <div class="event-description">
        {{ event.description|safe }}
    </div>
    {% endif %}
    <div class="lector-list">
        {% include "lector_list.html" with lectors=event.parent.ordered_lectors %}
    </div>
</div>
{% endblock %}