{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="header-image">
        <div class="header-text">Umíš-li mluvit, umíš zpívat, umíš-li chodit, umíš tančit...</div>
    </div>
    <div id="workshops" class="section">
        <div class="section-title">Workshopy</div>
        {% if workshops|filter_past_events %}
        <div class="workshop-cards">
            {% for workshop in workshops|filter_past_events|slice:":3" %}
            <div class="workshop-card">
                <div class="workshop-title">{{ workshop.title }}</div>
                {% if workshop.image %}
                <img class="workshop-image" src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                {% endif %}
                <div class="workshop-date">
                    {% with workshop|date_format as date %}
                            {{ date.day }} {{ date.date }}
                    {% endwith %}
                </div>
                <div class="workshop-content">
                    <div class="workshop-address"><div class="workshop-address-town">{{ workshop.location.town }}</div>{{ workshop.location.address }} </div>
                    <div class="workshop-time">8:00-18:00</div>
                    <div class="workshop-description">
                        {{ workshop.description }}
                    </div>
                    <div class="workshop-lectors">
                        <div class="workshop-lector">
                            {% for lector in workshop.lector.all %}
                            <a href="{% url 'lector_page' slug=lector.slug %}">
                                <img class="workshop-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                <div class="workshop-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        {% else %}
        <div class="noWorkshops">
            Momentálně nejsou naplánované žádné workshopy.
        </div>
        {% endif %} 
    </div>
    <div id="events" class="section">
        <div class="section-title">Taneční večery</div>
        {% if events|filter_past_events %}
        <div class="event-cards">
            {% for event in events|filter_past_events|slice:":8" %}
            <div class="event-card">
                <div class="event-town">{{ event.parent.location.town }}</div>
                <div class="event-date">
                    {% with event|date_format as date %}
                        {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}–{{ date.endTime }} {% endif %}
                    {% endwith %}
                </div>
                <div class="event-content">
                    <div class="event-address">{{ event.parent.location.address }} </div>
                    <div class="event-lectors">
                        <div class="event-lector">
                            {% for lector in event.parent.lector.all %}
                            <a href="{% url 'lector_page' slug=lector.slug %}">
                                <img class="event-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                <div class="event-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        {% else %}
        <div class="noEvents">
            Momentálně nejsou naplánované žádné taneční večery.
        </div>
        {% endif %} 
    </div>
    <div id="aboutDances" class="section">
        <div class="section-title">O tancích</div>
    </div>
    <div id="lectors" class="section">
        <div class="section-title">Kdo s vámi tančí</div>
    </div>
    <div id="aboutUs" class="section">
        <div class="section-title">O nás</div>
    </div>
    <div id="logos" class="section">
        
    </div>
{% endblock %}
