{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="header-image">
        <div class="header-text">Umíš-li mluvit, umíš zpívat, umíš-li chodit, umíš tančit...</div>
    </div>
    <div id="workshops" class="section">
        <div class="section-title">Workshopy</div>
        {% if workshops|filter_past_events %}
        <div class="workshop-cards">
            {% for workshop in workshops|filter_past_events|slice:":3" %}
            <a href="{{ workshop.link }}">
            <div class="workshop-card">
                <div class="workshop-title">{{ workshop.title }}</div>
                {% if workshop.image %}
                <img class="workshop-image" src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                {% endif %}
                <div class="workshop-date">
                    {% with workshop|date_format as date %}
                            {{ date.day }} {{ date.date }}
                    {% endwith %}
                </div>
                <div class="workshop-content">
                    <div class="workshop-address"><div class="workshop-address-town">{{ workshop.location.town }}</div>{{ workshop.location.address }} </div>
                    <div class="workshop-time">8:00-18:00</div>
                    <div class="workshop-description">
                        {{ workshop.description }}
                    </div>
                    <div class="workshop-lectors">
                        <div class="workshop-lector">
                            {% for lector in workshop.lector.all %}
                            <a href="{% url 'lector_page' slug=lector.slug %}">
                                <img class="workshop-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                <div class="workshop-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>  
        {% else %}
        <div class="noWorkshops">
            Momentálně nejsou naplánované žádné workshopy.
        </div>
        {% endif %} 
    </div>
    <div id="events" class="section">
        <div class="section-title">Taneční večery</div>
        {% if events|filter_past_events %}
        <div class="event-cards">
            {% for event in events|filter_past_events|slice:":10" %}
            <div class="event-card">
                <div class="event-town">{{ event.parent.location.town }}</div>
                <div class="event-date">
                    {% with event|date_format as date %}
                        {{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}–{{ date.endTime }} {% endif %}
                    {% endwith %}
                </div>
                <div class="event-content">
                    <div class="event-address">{{ event.parent.location.name }} <br> {{ event.parent.location.address }} </div>
                    <div class="event-lectors">
                        <div class="event-lector">
                            {% for lector in event.parent.lector.all %}
                            <a href="{% url 'lector_page' slug=lector.slug %}">
                                <img class="event-lector-image" src="{{ lector.image.url }}" alt="lector" />
                                <div class="event-lector-name">{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}</div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        {% else %}
        <div class="noEvents">
            Momentálně nejsou naplánované žádné taneční večery.
        </div>
        {% endif %} 
    </div>
    <div id="aboutDances" class="section">
        <div class="section-title">O tancích</div>
        <div class="aboutDances-content">
            <div class="aboutDances-text">Tance univerzálního míru vycházejí z různých spirituálních a kulturních tradic. Jedná se o kombinaci jednoduchých pohybů lidových tanců se zpěvem posvátných slov ze světových náboženství i tradic původních národů. Tančíme a Zpíváme je pro radost, pro některé z nás jsou duchovní cestou. <br><br>Nálada těchto Tanců je nekonečně různorodá, můžeme oslavovat hravou energii Krišny, prožívat soucítění buddhistické Qwan Yin, milost panny Marie nebo zakoušet emoce jakéhokoli dalšího duchovního archetypu. Zakoušením těchto mnoha tradic získáváme hlubší porozumění a úctu ke kulturám a dědictví svých předků a pěstujeme ve svých srdcích soucítění a mír.</div>
        </div>
    </div>
    <div id="lectors" class="section">
        <div class="section-title">Kdo s vámi tančí</div>
        <div class="lectors">
            {% for lector in lectors %}
            <div class="lector">
                <a href="{% url 'lector_page' slug=lector.slug %}">
                    <img class="lector-image" src="{{ lector.image.url }}" alt="{{ lector.firstName }}">
                </a>
            </div>
            {% endfor %}
            {% if not lectors %}
                <p>Není dostupný žádný lektor.</p>
            {% endif %}
        </div>
    </div>
    <div id="aboutUs" class="section">
        <div class="section-title">O nás</div>
        <div class="aboutUs-content">
            <div class="aboutUs-text">Jsme skupina lidí, které spojuje společný tanec a zpívání v kruhu. Základním zdrojem a inspirací nám jsou Tance univerzálního míru, tance dávných tradic, mantrické tance. Mezinárodně se jim říká Dances of Universal Peace (DUP). Mají své kořeny v duchovních tradicích všech kultur. <br><br>Taneční kruhy DUP jsou po celém světě. Tance v Čechách mají dnes již více než 20-ti letou tradici díky PhDr. Ludmile Chrášťanské, která dala vznik prvním tanečním kruhům, zvala učitele tanců z různých zemí a podpořila další nadšené tanečníky, kteří se rozhodli šířit tyto tance dále. <br><br>V roce 2004 byl z jejího podnětu zorganizován první mezinárodní kemp v Čechách, kam přijeli taneční učitelé a tanečníci z celé Evropy. V roce 2008 bylo založeno o.s. Tančíme.cz pro organizování tanečních kempů, mítinků a tanečních akcí.</div>
        </div>
    </div>
    <div id="logos" class="section">
        <div class="section-title">Máme rádi</div>
        <img class="logo_image" src="static/images/loga_organizaci.png" alt="">
    </div>
{% endblock %}
