{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="title">
        <h1>TANCE UNIVERZÁLNÍHO MÍRU</h1>
    </div>
    <div class="o_tancich">
        <h2>O tancích</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ac dolor sit amet purus malesuada congue. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        <a href="#o-tancich"><button type="submit" class="button">Více</button></a>
    </div>
    <div class="workshops">
        {% for workshop in workshops|filter_past_events|slice:":2" %}
            <div class="workshop">
                <div class="workshop-title">
                    {{ workshop.title }}
                </div>
                <div class="workshop-image">
                    <img src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                </div>
                <div class="workshop-details">
                    <div class="workshop-link">
                        {% if workshop.link %}
                        <p><a href="{{ workshop.link }}" target="_blank">{{ workshop.link }}</a></p>
                        {% endif %}
                    </div>
                    <div class="workshop-date">
                        {% with workshop|date_format as date %}
                        <p>{{ date.day }} {{ date.date }}</p>
                        {% endwith %}
                    </div>
                    <div class="workshop-location">
                        <p><strong>Kde: </strong>{{ workshop.location.town }}, {{ workshop.location.address }}</p>
                        <div class="workshop-location-description"> 
                            {% if workshop.location.description %}
                                <p>{{ workshop.location.description }}</p>
                            {% endif %}
                        </div> 
                    </div>
                    <div class="workshop-lector">
                        <p><strong>S kým: </strong>
                            {% for lector in workshop.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="workshop-price">
                        {% if workshop.price %}
                            <p><strong>Cena: </strong>{{ workshop.price }}</p>
                        {% endif %}
                    </div>
                    <div class="workshop-contact">
                        <p><strong>Kontakt: </strong><small>{{ workshop.contact }}</small></p>
                    </div>
                    <div class="workshop-description">
                        <p class="description"><strong>Na co se těšit: </strong>{{ workshop.description }}</p>
                        <button class="toggle-description">↓</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not workshops|filter_past_events %}
            <p>Momentálně nejsou žádné workshopy.</p>
        {% endif %}
    </div>    
        <div class="all">
            <form method="get" action="{% url 'events' %}">
                <button type="submit" class="button">Všechny</button>
            </form>
        </div>
    </div>
    <div class="vecerni-akce">
        <h2>Večerní akce</h2>
        <div class="events">
            {% for event in events|filter_past_events|slice:":2" %}
                <div class="event">
                    <div class="event-title">
                        {{ event.parent.location.town }}
                    </div>
                    <div class="event-image">
                        <img src="{{ event.parent.image.url }}" alt="img">
                    </div>
                    <div class="event-details">
                        <div class="event-link">
                            {% if event.parent.link %}
                            <p><a href="{{ event.parent.link }}" target="_blank">{{ event.parent.link }}</a></p>
                            {% endif %}
                        </div>
                        <div class="event-date">
                            {% with event|date_format as date %}
                                <p>{{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}–{{ date.endTime }} {% endif %}</p>
                            {% endwith %}
                        </div>
                        <div class="event-location">
                            <p><strong>Kde: </strong>{{ event.parent.location.town }}, {{ event.parent.location.address }}</p>
                            <div class="event-location-description"> 
                                {% if event.parent.location.description %}
                                    <p>{{ event.parent.location.description }}</p>
                                {% endif %}
                            </div> 
                        </div>
                        <div class="event-lector">
                            <p><strong>S kým: </strong>
                                {% for lector in event.parent.lector.all %}
                                    <a href="{% url 'lector_page' slug=lector.slug %}">
                                        {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                    </a>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="event-description">
                            <p class="description"><strong>Na co se těšit: </strong>{{ event.parent.description }} <br>{{ event.description }}</p>
                            <button class="toggle-description">↓</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if not events|filter_past_events %}
                <p>Momentálně nejsou žádné večerní tance.</p>
            {% endif %}
        </div>
        <div class="all">
            <form method="get" action="{% url 'events' %}">
                <button type="submit" class="button">Všechny</button>
            </form>
        </div>
    </div>
    <div class="o_tancich" id="o-tancich">
        <h2>O tancích</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue semper aliquam. Sed lacinia viverra ante id dictum. Sed rutrum ante sed venenatis congue. Cras a leo ac dolor consequat mattis. Maecenas sed felis at magna ullamcorper varius. Sed eu sapien ut tortor consectetur auctor ut ac felis. Mauris enim mauris, faucibus ac interdum et, tempus vitae augue. Vivamus feugiat nisl eu arcu ultrices, eu pharetra quam aliquam.</p>
        <p>Donec at risus ac leo luctus tincidunt id eu mauris. Aenean bibendum ex sit amet nisl hendrerit sollicitudin. Vivamus malesuada enim at est sagittis pellentesque. Phasellus id mollis nisl. Pellentesque aliquet magna ut sapien scelerisque tincidunt. Sed dui sapien, condimentum quis lacinia mattis, bibendum eu ante. Sed eget est sed augue varius euismod at et lectus. Nam sed lectus et felis aliquam interdum. Etiam risus lacus, tristique sit amet nisi id, pharetra consequat dui. Pellentesque eleifend convallis sapien, a sagittis ipsum suscipit vel. Etiam tincidunt facilisis neque, nec vehicula enim consectetur vel. Vivamus pulvinar suscipit eros, eget cursus nisi aliquet non.</p>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris et faucibus metus. Nunc malesuada diam et felis dictum, in iaculis dolor mollis. Maecenas velit nibh, ultrices et pulvinar sit amet, tincidunt nec massa. Sed quis consectetur odio. Aenean dictum laoreet eros eu commodo. Duis pellentesque dictum tempus. Quisque nibh ex, posuere ac facilisis ut, viverra quis ante. Duis sodales tempus urna, eget dignissim massa egestas nec. Suspendisse sollicitudin sem in molestie maximus. Proin ac nibh ligula.</p>
    </div>
    <div class="all">
        <form method="get" action="{% url 'o_tancich' %}">
            <button type="submit" class="button">Vše o tancich</button>
        </form>
    </div>
    <h2>Naši lektoři:</h2>
    <div class="lectors">
        {% for lector in lectors %}
        <div class="lector">
            <a href="{% url 'lector_page' slug=lector.slug %}">
                <img src="{{ lector.image.url }}" alt="{{ lector.firstName }}">
            </a>
        </div>
        {% endfor %}
        {% if not lectors %}
            <p>No lectors available.</p>
        {% endif %}
    </div>
    <div class="all">
        <form method="get" action="{% url 'lectors' %}">
            <button type="submit" class="button">Seznam lektorů</button>
        </form>
    </div>
    <div class="o_nas">
        <h2>O nás</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor mauris, bibendum nec ante quis, lobortis placerat sem. Vivamus lectus neque, semper eu ipsum sed, gravida aliquet odio. Nam placerat, nulla sed maximus ullamcorper, leo felis aliquet lacus, sollicitudin eleifend justo orci ut velit. Curabitur semper sagittis ligula a ultrices. Morbi metus purus, ornare eu ligula at, tincidunt luctus nulla. Curabitur dignissim id enim id consectetur. Donec finibus ut elit non ornare. Sed id odio ut velit feugiat semper eget non ante. Cras ultrices efficitur eros, in maximus sapien posuere sit amet. Donec ipsum metus, sodales tristique sollicitudin nec, tincidunt at risus. Vivamus condimentum, magna et blandit vestibulum, quam nulla sagittis mi, sed interdum urna diam vel sem. Aliquam scelerisque eget est a hendrerit.</p>
        <p>Nullam mollis magna sed risus elementum, quis feugiat sapien auctor. Cras at elementum turpis. Phasellus a eros velit. Ut mollis pellentesque ex id euismod. Donec pretium dolor sit amet mi pharetra, eget cursus turpis ultrices. Sed molestie magna erat, vel fermentum justo scelerisque id. Curabitur ultrices eros a ipsum sodales vulputate. Maecenas quis metus aliquam, venenatis elit eget, tempor odio. Praesent egestas ipsum quis nunc gravida, at efficitur nisi pellentesque. Sed ac auctor ligula, in vehicula.</p>
    </div>
    <div class="all">
        <form method="get" action="{% url 'o_nas' %}">
            <button type="submit" class="button">Více</button>
        </form>
    </div>
    <div class="oraganizace">
        <h2>Organizace:</h2>
        <p>loga</p>
    </div>
{% endblock %}
