{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
    <div class="o_tancich">
        <div class="title">O tancích</div>
        <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ac dolor sit amet purus malesuada congue. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
        <a href="#o-tancich"><button type="submit" class="button">→</button></a>
    </div>
    <div class="title-workshop">Workshopy</div>
    {% if workshops|filter_past_events %}
        <div class="workshops">
            {% for workshop in workshops|filter_past_events|slice:":3" %}
                <a href="{{ workshop.link }}" target="_blank">
                <div class="workshop">
                    <div class="workshop-title">
                        {{ workshop.title }}
                    </div>
                    <div class="workshop-date">
                        {% with workshop|date_format as date %}
                            {{ date.day }} {{ date.date }}
                        {% endwith %}
                    </div>
                    <div class="workshop-inside">
                        {% if workshop.image %}
                        <div class="workshop-image">
                            <img src="{{ workshop.image.url }}" alt="{{ workshop.title }}">
                        </div>
                        {% endif %}
                        <div class="workshop-details">
                            <div class="workshop-location">
                                {{ workshop.location.name }} {{ workshop.location.address }}, {{ workshop.location.town }}
                                <div class="workshop-location-description"> 
                                    {% if workshop.location.description %}
                                        {{ workshop.location.description }}
                                    {% endif %}
                                </div> 
                            </div>
                            <div class="workshop-lector">
                                {% for lector in workshop.lector.all %}
                                    <a href="{% url 'lector_page' slug=lector.slug %}">
                                        {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="workshop-description">
                                {{ workshop.description }}
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
    <div class="no-events">
        <p>Momentálně nejsou žádné workshopy.</p>
    </div>
    {% endif %}   
    {% if workshops|filter_past_events %}
        <div class="all">
            <form method="get" action="{% url 'events' %}">
                <button type="submit" class="button">Všechny</button>
            </form>
        </div>
    {% endif %}
    </div>
    <div class="title-event">Taneční večery</div>
    <div class="vecerni-akce">
        {% if events|filter_past_events %}
        <div class="events">
            {% for event in events|filter_past_events|slice:":2" %}
                <div class="event">
                    <div class="event-title">
                        {{ event}}
                    </div>
                    {% if event.image %} 
                    <div class="event-image">
                        <img src="{{ event.parent.image.url }}">
                    </div>
                    {% endif %}
                    <div class="event-details">
                        <div class="event-link">
                            {% if event.parent.link %}
                            <p><a href="{{ event.parent.link }}" target="_blank">{{ event.parent.link }}</a></p>
                            {% endif %}
                        </div>
                        <div class="event-date">
                            {% with event|date_format as date %}
                                <p>{{ date.day }} {{ date.date }} {{ date.startTime }}{% if date.endTime %}–{{ date.endTime }} {% endif %}</p>
                            {% endwith %}
                        </div>
                        <div class="event-location">
                            <p><strong>Kde: </strong>{{ event.parent.location.name }} {{ event.parent.location.address }}, {{ event.parent.location.town }}</p>
                            <div class="event-location-description"> 
                                {% if event.parent.location.description %}
                                    <p>{{ event.parent.location.description }}</p>
                                {% endif %}
                            </div> 
                        </div>
                        <div class="event-lector">
                            <p><strong>S kým: </strong>
                                {% for lector in event.parent.lector.all %}
                                    <a href="{% url 'lector_page' slug=lector.slug %}">
                                        {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                    </a>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="event-description">
                            <p class="description"><strong>Na co se těšit: </strong>{{ event.parent.description }} <br>{{ event.description }}</p>
                            <button class="toggle-description">↓</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="no-events">
                <p>Momentálně nejsou žádné večerní tance.</p>
            </div>
            {% endif %}
        </div>
        {% if events|filter_past_events %}
        <div class="all">
            <form method="get" action="{% url 'events' %}">
                <button type="submit" class="button">Všechny</button>
            </form>
        </div>
    {% endif %}
    </div>
    <div class="o_tancich" id="o-tancich">
        <h2>O tancích</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue semper aliquam. Sed lacinia viverra ante id dictum. Sed rutrum ante sed venenatis congue. Cras a leo ac dolor consequat mattis. Maecenas sed felis at magna ullamcorper varius. Sed eu sapien ut tortor consectetur auctor ut ac felis. Mauris enim mauris, faucibus ac interdum et, tempus vitae augue. Vivamus feugiat nisl eu arcu ultrices, eu pharetra quam aliquam.</p>
        <p>Donec at risus ac leo luctus tincidunt id eu mauris. Aenean bibendum ex sit amet nisl hendrerit sollicitudin. Vivamus malesuada enim at est sagittis pellentesque. Phasellus id mollis nisl. Pellentesque aliquet magna ut sapien scelerisque tincidunt. Sed dui sapien, condimentum quis lacinia mattis, bibendum eu ante. Sed eget est sed augue varius euismod at et lectus. Nam sed lectus et felis aliquam interdum. Etiam risus lacus, tristique sit amet nisi id, pharetra consequat dui. Pellentesque eleifend convallis sapien, a sagittis ipsum suscipit vel. Etiam tincidunt facilisis neque, nec vehicula enim consectetur vel. Vivamus pulvinar suscipit eros, eget cursus nisi aliquet non.</p>
        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris et faucibus metus. Nunc malesuada diam et felis dictum, in iaculis dolor mollis. Maecenas velit nibh, ultrices et pulvinar sit amet, tincidunt nec massa. Sed quis consectetur odio. Aenean dictum laoreet eros eu commodo. Duis pellentesque dictum tempus. Quisque nibh ex, posuere ac facilisis ut, viverra quis ante. Duis sodales tempus urna, eget dignissim massa egestas nec. Suspendisse sollicitudin sem in molestie maximus. Proin ac nibh ligula.</p>
    </div>
    <h2>Kdo s vámi tančí</h2>
    <div class="lectors">
        {% for lector in lectors %}
        <div class="lector">
            <a href="{% url 'lector_page' slug=lector.slug %}">
                <img src="{{ lector.image.url }}" alt="{{ lector.firstName }}">
            </a>
        </div>
        {% endfor %}
        {% if not lectors %}
            <p>No lectors available.</p>
        {% endif %}
    </div>
    <div class="all">
        <form method="get" action="{% url 'lectors' %}">
            <button type="submit" class="button">Seznam lektorů</button>
        </form>
    </div>
    <div class="o_nas">
        <h2>O nás</h2>
        <p>
            Jsme skupina lidí, které spojuje společný tanec a zpívání v kruhu.
            Základním zdrojem a inspirací nám jsou Tance univerzálního míru, tance dávných tradic,
            mantrické tance. Mezinárodně se jim říká Dances of Universal Peace (DUP). Mají své kořeny
            v duchovních tradicích všech kultur. Taneční kruhy DUP jsou po celém světě.
            Tance v Čechách mají dnes již více než 20-ti letou tradici díky PhDr. Ludmile Chrášťanské,
            která dala vznik prvním tanečním kruhům, zvala učitele tanců z různých zemí a podpořila
            další nadšené tanečníky, kteří se rozhodli šířit tyto tance dále.
            V roce 2004 byl z jejího podnětu zorganizován první mezinárodní kemp v Čechách, kam
            přijeli taneční učitelé a tanečníci z celé Evropy.
            V roce 2008 bylo založeno o.s. Tančíme.cz pro organizování tanečních kempů, mítinků a
            tanečních akcí.
        </p>
    </div>
    <div class="oraganizace">
        <h2>Organizace:</h2>
        <p>loga</p>
    </div>
{% endblock %}
