{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Lectors{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lectors.css' %}">
{% endblock %}

{% block content %}
    <h2>Naši lektoři:</h2>
    <div class="search-container">
        <form method="get" action="{% url 'search_lectors' %}">
            <input type="text" name="query" placeholder="Hledat..." value="{{ request.GET.query }}">
            <button type="submit">Hledat</button>
        </form>
    </div>
    <div class="lectors">
        {%for lector in lectors%}
        <div class="lector">
            <a href="{% url 'lector_page' slug=lector.slug %}" style="text-decoration: none;">
                <img src="{{ lector.image.url }}" alt="{{ lector.firstName }}">
            <div class="name">
                {{lector.firstName}} {%if lector.lastName%} <br>{{lector.lastName}} {%endif%}</div>
            </div>
            </a>
        {%endfor%}
    </div>
    {% endblock %}