<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lectors</title>
</head>
<body>
    <h2>Naši lektoři:</h2>
    <div class="lectors">
        {%for lector in lectors%}
        <div class="lector">
            <img src={{lector.image.url}} alt={{lector.firstName}}>
        <p>{{lector.firstName}} {{lector.lastName}}</p>
        <p>{{lector.description}}</p>
        <div>
            {%if lector.email or lector.phone%}
            <p>Kontakt:</p>
            <p><u>E-mail:{{lector.email}}</u></p>
            <p><u>Telefon::{{lector.phone}}</u></p>
            {%end if%}
        </div>
        </div>
        {%endfor%}
    </div>
</body>
</html>