{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}Events{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/lector_page.css' %}">
{% endblock %}

{% block content %}
    <div class="lector-page"> 
        <div class="lector">
            <img src="{{ lector.image.url }}" alt="{{ lector.image }}">
            <br><h1>{{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}</h1>
            <div class="description">
                <div class="text">{{ lector.description }}</div>
            </div>
            <div class="contact">
                {% if lector.email or lector.phone %}
                <p><u>Kontakt:</u></p>
                {% endif %}
                {% if lector.email %}
                <p>E-mail: {{ lector.email }}</p>
                {% endif %}
                {% if lector.phone %}
                <p>Telefon: {{ lector.phone }}</p>
                {% endif %}
            </div>
        </div>
        <div><h2>Akce s lektorem:</h2></div>
        <div class="lector-events">
            {% for item in combined %}
            <div class="{% if item|is_instance:'Event' %}event{% else %}workshop{% endif %}">
                {% if not item|is_instance:'Event' %}
                    <h2 class="workshop-title">{{ item.title }}</h2>
                {% endif %}
                <div class="event-image">
                    <img src="{% if item|is_instance:'Event' %}{{ item.parent.image.url }}{% else %}{{ item.image.url }}{% endif %}">
                </div>
                <div class="event-details">
                    {% if item.link %}
                        <p><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></p>
                    {% endif %}
                    {% with item|date_format as date %}
                    <p>{{ date.day }} {{ date.date }} <br>{{ date.startTime }}{% if date.endTime %}–{{ date.endTime }}{% endif %}</p>
                    {% endwith %}
                    <p><strong>Kde: </strong>{% if item|is_instance:'Event' %}{{ item.parent.location.town }}{% else %}{{ item.location.town }}{% endif %}, {% if item|is_instance:'Event' %}{{ item.parent.location.address }}{% else %}{{ item.location.address }}{% endif %}</p>
                    {% if item|is_instance:'Event' %}
                        <p>{{ item.parent.location.description }}</p>
                    {% else %}
                        <p>{{ item.location.description }}</p>
                    {% endif %}
                    <p><strong>S kým: </strong>
                        {% if item|is_instance:'Event' %}
                            {% for lector in item.parent.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        {% else %}
                            {% for lector in item.lector.all %}
                                <a href="{% url 'lector_page' slug=lector.slug %}">
                                    {{ lector.firstName }}{% if lector.lastName %} {{ lector.lastName }}{% endif %}{% if not forloop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% if item.price %}
                        <p><strong>Cena: </strong>{{ item.price }}</p>
                    {% endif %}
                    <p><strong>Kontakt: </strong><small>{% if item|is_instance:'Event' %}{{ item.parent.contact }}{% else %}{{ item.contact }}{% endif %}</small></p>
                    <p class="description"><strong>Na co se těšit: </strong>{% if item|is_instance:'Event' %}{{ item.parent.description }}<br>{{ item.description }}{% else %}{{ item.description }}{% endif %}</p>
                    <button class="toggle-description">↓</button>
                </div>
            </div>
            {% endfor %}
            {% if not combined %}
                <p>Lektor momentálně nepořádá žádné akce.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
