<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
<h1>O nás</h1>
<p>
        Jsme skupina lidí, které spojuje společný tanec a zpívání v kruhu.

Sdílením tance a zpěvu se  dostáváme blíž k našim vnitřním zdrojům, prožitkům, propojení s druhými a se světem okolo nás.

Základním zdrojem a inspirací nám jsou Tance univerzálního míru, tance dávných tradic, mantrické tance. Mezinárodně se jim říká Dances of Universal Peace (DUP). Mají své kořeny v duchovních tradicích všech kultur. Taneční kruhy DUP jsou po celém světě.

Tance v Čechách mají dnes již více než 20-ti letou tradici díky PhDr. Ludmile Chrášťanské, která dala vznik prvním tanečním kruhům, zvala učitele tanců z různých zemí a podpořila další nadšené tanečníky, kteří se rozhodli šířit tyto tance dále.

V roce 2004 byl z jejího podnětu zorganizován první mezinárodní kemp v Čechách, kam přijeli taneční učitelé a tanečníci z celé Evropy.

V roce 2008 bylo založeno o.s. Tančíme.cz pro organizování tanečních kempů, mítinků a tanečních akcí.

Ze statutu sdružení -  Občanské sdružení Tančíme.cz je dobrovolným sdružením občanů, kteří mají zájem se aktivně podílet na všeobecně prospěšných, humanitárních a vzdělávacích činnostech, které prospívají fyzickému a duševnímu rozvoji osobnosti formou společných aktivit v tanci a zpěvu.

Kruhy jsou otevřené každému v jakémkoliv věku. Není potřeba žádná předchozí zkušenost.
</p>
</body>
</html>