{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}About us{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
<div>
    {% for location in locations %}
      <strong>ID:</strong>{{ location.locationId }}<br>
      <strong>Name:</strong>{{ location.name }}
    {% endfor %}
  
    {% for course in courses %}
      <strong>ID:</strong>{{ course.courseId }}<br>
      <strong>Name:</strong>{{ course.name }}
      {{ course.startDate }}
      <img src="{{ course.image }}" alt="image">
    {% endfor %}
  </div>
{% endblock %}