{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}About dances{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}
<h1>O tancích</h1>
<p>
    Od začátku času přiváděl posvátný pohyb, písně a vyprávění lidi dohromady. V dobách sezonních oslav a ceremonií byl tanec a zpěv součástí každodenního života a životních přechodů, denních meditací a modliteb. Tance univerzálního míru (u nás jim někdy pro větší srozumitelnost říkáme mantrické tance dávných tradic) jsou součástí této bezčasé tradice posvátných tanců.  Jednoduchá melodie, slova a pohyby dovolují dotknout se spirituální esence uvnitř nás a v druhých. Není k nim třeba žádná hudební ani taneční zkušenost, každý je vítán.

Jádrem je účast, nikoliv vystoupení. Není třeba žádný speciální úbor, je dobré mít pohodlný, volný oděv.

Tance se soustřeďují na mír a harmonii a vytvářejí smysl solidarity a společenství tím, že oslavují jednotu, která je základem všech spirituálních tradic Země. Zakoušením těchto mnoha tradic získáváme hlubší porozumění a úctu ke kulturám a dědictví předků.

Když slova tanců zahrnují posvátné fráze v původních jazycích, učí se účastníci vyslovovat cizí slova pomalu a v rámci možností správně. Ten, kdo vede, obvykle nechá skupinu napřed říkat a pak zpívat neznámá slova. Většina tanců má nejvýš čtyři verše, které jsou opakovány mnohokrát, takže učení je obvykle rychlé a snadné - během 10 minut se lidi společně pohybují, zpívají a sdílejí .

Nálada těchto Tanců je nekonečně různorodá, vzbuzuje pocity lásky, radosti a soucítění. Ať vzývají soucítění buddhistické Qwan Yin, oslavují hravou energii Krišny nebo zakouší emoce jakéhokoli dalšího duchovního archetypu, tanečníci se účastní dynamického vztahu se skupinou, individui i se sebou.

Tance univerzálního míru rozvíjí v každém z nás potenciál, který podporuje a udržuje mír mezi lidmi i uvnitř každého, snižují vědomí odlišnosti, neboť zdůrazňují jednotu a tentýž základ všech náboženství. Jedná se o kombinaci jednoduchých pohybů lidových tanců se zpěvem posvátných slov ze světových náboženství i tradic původních národů. Většinou se tancuje v kruhu. Důležitější je koncentrace na obsah slov než na pohyb, i když ten bývá často symbolický (u taneční meditace Otčenáš slovo Otče - v aramejštině Abvún šeptáme se skloněnou hlavou do svého srdce a pak pohybem těla, vycházejícím z hrudníku, symbolicky ze srdce, tvoříme kruh - jako nádobu, která si přeje být naplněna...) Jsou velmi jednoduché a současně velmi hluboké.
Soustřeďujeme se tedy na posvátný text, staletí nebo tisíciletí stará slova nebo věty, vnitřně se poddáváme jejich smyslu a zvuku. Čím častěji je opakujeme, tím hlouběji se tato slova mohou dotknout našeho bytí.

Pokud jde o jejich terapeutický potenciál, je možno zde vysledovat tři oblasti působení. Tělesná rezonance skrze zpěv, vědomí dechu a pohyb může významně změnit pohled na vlastní hranice i prožívání druhých, většinou je tento posun vnímán bezprostředně jako pocit radosti a svobody. Kromě toho je možno zakusit vědomí, že máme schopnost se změnit.
Druhou oblastí je přístup k vlastním somatickým procesům nebo vědomí těla. Tance vedou účastníky nejen ke stavům svobody, radosti, lásky a míru, ale zejména k zakotvení se ve vědomí vlastního těla, aby se prožívání uzemnilo v teď a tady. Toto uzemnění se obvykle děje po skončení tance v tichu. Učitelé tanců zdůrazňují uzemnění nejen kvůli plnému prožití tance, ale také, aby extatické stavy nesloužily k vyhýbání se nebo odmítnutí stinných stránek osobnosti.
Za třetí jde o ovlivnění mysli pomalejším, hlubším rytmem uvědomování si, které často bývá nazýváno meditací. Pokud se lidé stanou zkušenějšími v nacházení tohoto energií nabitého stavu ticha, je možno jej používat ve stresových situacích denního života, a místo obvyklých neadekvátních reakcí si vybrat odlišný způsob jednání či prožívání v okamžiku, kdy by se objevilo chování scénářové.

Tance Univerzálního míru se vyvinuly a rozšířily v praktické aplikaci naplňování hlubokých potřeb dneška pro znovuobjevení pokory, tvořivosti a tělesném spojení s přírodním světem. Učitelé sdílejí tance ve školách, terapeutických skupinách, vězeních, hospicích, v centrech léčení z drogových závislostí, domovech pro postižené, domovech důchodců , holistických zdravotních centrech a ekumenických bohoslužbách. Tancují se na celém světě zejména pro radost a na oslavu. V Německu je např. soukromá porodní klinika, kde sestry s maminkami oslavují těmito tanci narození každého dítěte. Některé německé a švýcarské učitelky je odvážně jezdí učit do krajů, které jsou znesvářené kvůli různým náboženstvím (např. v době války i nyní jezdí do Bosny) a spojují je s terapeutickou prací s lidmi, kteří ztratili ve válce svoje blízké i svůj majetek.
</p>
{% endblock %}