{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ event.title }}{% if event.title2 %} {{ event.title2}}{% endif %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/workshop_page.css' %}">
{% endblock %}

{% block content %}

<div class="event-detail section-container">
        <div class="event-title">{{ event.title }}{% if event.title2 %} {{ event.title2}}{% endif %}</div>
        {% if event.image %}
        <img class="event-image" src="{{ event.image.url }}" alt="{{ event.title }}" />
        {% endif %}
        <div class="event-date">
            {% with event|date_format as date %}
            {{ date.day }} {{ date.date }} {% if event.startTime %}{{ event.startTime }}{% if event.endTime %}&ndash;{{ event.endTime }}{% endif %}{% endif %}
            {% endwith %}
        </div>
        <div class="workshop-content event-content">
            <div class="event-address">
                <div class="workshop-address-town">
                    {{ event.location.town }}
                </div>
                {{ event.location.address }}
            </div>
            <div class="event-description">
                {{ event.description|safe }}
            </div>
            {% if event.link %}
            <div class="workshop-link">
                <a href="{{ event.link }}" target="_blank">{{ event.link }}</a>
            </div>
            {% endif %}
            <div class="lectors">
                {% for lector in event.lector.all %}
                <div class="lector">
                    <a href="{% url 'lector_page' slug=lector.slug %}" style="text-decoration: none;">
                        <img src="{{ lector.image.url }}" alt="{{ lector.firstName }}">
                        <div class="lector-name">
                            {{lector.firstName}} {%if lector.lastName%} <br>{{lector.lastName}} {%endif%}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
