{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ event.title }}{% if event.title2 %} {{ event.title2}}{% endif %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/event_page.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/lector_list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/workshop_page.css' %}">
{% endblock %}

{% block content %}

<div class="section-container event-detail">
    <div class="event-title">{{ event.title }}{% if event.title2 %} {{ event.title2}}{% endif %}</div>
    {% if event.image %}
    <img class="event-image" src="{{ event.image.url }}" alt="{{ event.title }}" />
    {% endif %}
    <div class="event-date">
        {% with event|date_format as date %}
        {{ date.day }} {{ date.date }} {% if event.startTime %}{{ event.startTime }}{% if event.endTime %}&ndash;{{ event.endTime }}{% endif %}{% endif %}
        {% endwith %}
    </div>
    <div class="workshop-content event-content">
        <div class="event-address">
            <div class="workshop-address-town">
                {{ event.location.town }}
            </div>
            {{ event.location.address }}
        </div>
        <div class="event-description">
            {{ event.description|safe }}
        </div>
        {% if event.link %}
        <div class="workshop-link">
            <a href="{{ event.link }}" target="_blank">{{ event.link }}</a>
        </div>
        {% endif %}
        <div class="lector-list">
            {% include "lector_list.html" with lectors=event.ordered_lectors %}
        </div>
    </div>
</div>
{% endblock %}
