header {
    background-color: #022F42;
    padding: 10px 0;

}

.logo {
    align-items: left;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 24;
}

.menu li {
    margin: 0 15px;
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
    color: rgba(103, 240, 252, 1);
}
