@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');

.page {
    width: 100%;
    text-align: center;
}

.header {
    width: 100%;
    background-color: #022F42;
    padding: 10px 0;
}

.logo {
    position: relative;
    top: 20px;
    left: -550px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right: 0;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5em;
    color: #022F42;
    position: relative;
    right: -460px;
    top: -25px
}

.menu li {
    margin: 0 15px;
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
    color: rgba(103, 240, 252, 1);
}
