.header {
    background-color: #55768F;
}

.menu-item2 a {
    color: #67F0FC!important;
}

.section-container {
    color: #000006;
}

.evening-town {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 3.3em;
    padding-bottom: 10px;
    padding-top: 150px;
    text-align: left;
}

.event-date {
    font-family: 'Pompiere', sans-serif;
    font-size: 2.4em;
    padding-bottom: 20px;
    text-align: left;
}

.evening-address {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.evening-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.4;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: left; /* Align text to the left for readability */
}

.lectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 20px; 
    padding: 0 20px;
    margin-top: 40px;
}

.lector {
    flex: 0 1 150px;  
    max-width: 200px;
    padding: 10px;
    transition: transform 0.3s;
    box-sizing: border-box;
    text-align: center;  
}

.lector:hover {
    transform: scale(1.05);
}

.lector img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #3C3F0F;
}

.name {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #3C3F0F;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}

.name a {
    border-bottom: none;
}

