.header {
    background-color: #55768F;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    margin: auto; 
    width: 1170px;
}

.workshop-card {
    height: 432px;
    grid-row: span 2;
}

.workshop-content {
    height: 333px;
}

.workshop-image {
    width: 206px;
    max-height: 140px;
    object-fit: cover;
}

.workshop-long-title .workshop-content {
    height: 307px;
    margin-top: -4px;
}



.filter {
    margin-top: 120px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000006;
    text-align: left;
}

.filter button {
    padding: 10px 20px;
    color: #000006;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Ysabeau SC', sans-serif;
    background-color: rgba(0,0,0,0);
}

    .filter button:hover {
        color: #006090;
        transform: scale(1.05)
    }




@media (max-width: 1200px) {
    .events-grid {
        grid-template-columns: repeat(4, 1fr); 
        width: 930px;
    }
}

@media (max-width: 960px) {
    .events-grid {
        grid-template-columns: repeat(3, 1fr); 
        width: 694px;
    }
}

@media (max-width: 720px) {
    .events-grid {
        grid-template-columns: repeat(2, 1fr); 
        width: 460px;
    }
}
