body {
    font-family: 'Roboto', sans-serif;
    background-color: #cff2f6; /* Light cyan background */
    color: #333; /* Dark grey text color */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
}

/* Headings */
h1, h2 {
    text-align: center;
    color: #00796b; /* Teal color for headings */
}

h1 {
    margin-top: 20px;
    font-size: 3em;
    font-weight: bold;
    color: rgb(255, 77, 136);
    background-color: #e0f7fa;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #ffffff; /* White background for text */
    padding: 5px 15px; /* Padding around the text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Paragraphs */
p {
    margin-top: 0px;
    margin: auto;
    max-width: 600px; /* Limit width for better readability */
    padding: 0 15px;
}

/* Links */
a {
    color: #00796b; /* Teal color for links */
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

a:hover {
    color: #ff5252;
    border-bottom-color: #ff5252;
}

.events, .workshops {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    justify-items: center;
}

/* Styles for each event card */
.event, .workshop {
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 350px; 
    height: auto;
    box-sizing: border-box;
    text-align: center;
}

/* Specific styles for h2 within event and workshop class */
.event-title, .workshop-title {
    font-size: 1.8em;
    color: rgb(255, 77, 136);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for event and workshop details */
.event-details, .workshop-details {
    background-color: #ffffff;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.event-details p,
.workshop-details p {
    margin: 5px 0; /* Reduce the margin between paragraphs */
}

.event-details a, .workshop-details a {
    word-wrap: break-word; 
    color: #00796b; 
    text-decoration: underline; /* Ensure links are underlined */
}

.event-details a:hover, .workshop-details a:hover {
    color: rgb(255, 77, 136);
    text-decoration: underline;
}

/* Ensure that links within the event-lector and workshop-lector class are not underlined */
.event-lector a, .workshop-lector a {
    text-decoration: none;
    color: #00796b;
}

.event-lector a:hover, .workshop-lector a:hover {
    color: rgb(255, 77, 136);
    text-decoration: underline;
}

.event-date, .workshop-date {
    font-size: 1.4em;
    padding-top: 8px;
    padding-bottom: 0px;
}

.event-lector,
.workshop-lector {
    margin-bottom: 5px; /* Reduce the bottom margin */
}

.event-location,
.workshop-location {
    margin-bottom: 5px; /* Reduce the bottom margin */
}

.event-description,
.workshop-description {
    margin-top: 5px; /* Reduce the top margin */
}

/* Hidden description */
.description {
    overflow: hidden;
    height: 40px;
    transition: height 0.3s ease;
    margin: 0px;
}

.event img, .workshop img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 200px;
}

/* Toggle button */
.toggle-description {
    display: inline-block;
    margin-top: 0px;
    padding: 5px 10px;
    border: none;
    background-color: #00796b;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for event and workshop cards */
.event:hover, .workshop:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}


.search-container {
    background-color: #cff2f6; 
    border: none;
    text-align: center;
    margin: 10px 20px; 
    padding: 10px; 
    border-radius: 10px;
}

.search-container input[type="text"] {
    padding: 10px; 
    background-color: #ffffff; 
    color: #434343; 
    border: none; 
    border-radius: 10px; 
    font-size: 1em; 
    width: 80%; 
    max-width: 400px; 
    margin-right: 10px; 
    outline: 1px solid #00796b 
}

.search-results {
    border-bottom: 5px;
}

.search-container button {
    padding: 10px 20px; 
    background-color: #ffffff; 
    color: #00796b; 
    border: none; 
    border-radius: 20px; 
    font-size: 1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.search-container button:hover {
    background-color: #00796b; 
    color: #ffffff; 
}

.button {
    padding: 10px 20px; 
    background-color: #ffffff; 
    color: #00796b; 
    border: none; 
    border-radius: 20px; 
    font-size: 1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-top: 10px;
}

.button:hover {
    background-color: #00796b;
    color: #ffffff;
}

.button.active {
    background-color: #00796b;
    color: #ffffff;
}

.archiv {
    display: flex;
    justify-content: right;
}

.archiv-button {
    padding: 10px 20px;
    margin-right: 40px;
    background-color: #ffffff;
    color: rgb(255, 77, 136);
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.archiv-button:hover {
    background-color: #ffffff;
    color: #00796b;
}
