.events-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 4 equal-width columns */
    gap: 10px;  /* Space between grid items */
    width: 1040px;/* Optional: set max width for the grid */
    margin: auto;/*margin: auto;*/
}

/* Base styles for all events */
.event-card {
    display: flex;
}

.event-field {
    display: block;
}

.event {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    display: block;
    cursor: pointer;
}

.event-card-color1 {
    background-color: #B5D2F0;
    color: #000006;
}

.event-card-color2 {
    background-color: #B45C06;
    color: #ffffff;
}

.event-card-color3 {
    background-color: #3C3F0F;
    color: #ffffff;
}

.event-card-color4 {
    background-color: #D8D479;
    color: #000006;
}

.event-card-color5 {
    background-color: #E09E23;
    color: #000006;
}

.event-card-color6 {
    background-color: #DA8D46;
    color: #000006;
}

.event-card:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.event-town {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    padding-bottom: 5px;
}

.event-date {
    font-family: 'Road Rage', sans-serif;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.event-content {
    background-color: #FFF8F0;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    color: #000006;
    font-family: 'Roboto', sans-serif;
}

.event-address {
    padding-bottom: 10px;
}

.event-address-town {}

.event-time {}

.event-description {}

.event-lectors {}

.event-lector {
    font-weight: bold;
}

.event-lector-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle
}

.event-lector-name {
    display: inline-block;
    vertical-align: middle;

}

.workshop {
    width: 200px;
    height: 417px;
    grid-row: span 2;  
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.workshop:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.workshop-title {
    font-size: 3em;
    font-family: 'Amatic SC', sans-serif;
    padding-bottom: 10px;
    color: #000006;
                                                
}

.workshop-date {
    background-color: #3C3F0F;
    color: #ffffff;
    border-radius: 15px;
    width: 100px;
    height: 80px;
    position: relative;
    top: -20px;
    left: 220px;
    display: block;
    rotate: 11deg;
    z-index: 1;
    line-height: 80px;
}

.workshop-content {
    background-color: #FFF8F0;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    text-align: left;
    position: relative;
    margin-top: -84px;
    color: #000006;
    font-family: 'Roboto', sans-serif;
}

.workshop-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    position: relative;
}

.workshop-address {
}

.workshop-address-town {
    font-weight: bold;
}

.workshop-time {
    margin-top: 10px;
}

.workshop-description {
    margin-top: 10px;
}

.workshop-lectors {
    margin-top: 10px;
}

.workshop-lector {
    display: inline-block;
}

.workshop-lector-image{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle
}

.workshop-lector-name{
    display: inline-block;
    vertical-align: middle
}




.search-container {
    text-align: center;
    margin-top: 30px;
    padding: 10px; 
}

.search-container input[type="text"] {
    padding: 10px; 
    background-color: #ffffff; 
    color: #434343; 
    border: none; 
    border-radius: 10px; 
    font-size: 1em; 
    width: 80%; 
    max-width: 400px; 
    margin-right: 10px; 
    outline: 1px solid #3C3F0F 
}

.search-container button {
    padding: 10px 20px; 
    background-color: #ffffff; 
    color: #3C3F0F; 
    border: none; 
    border-radius: 20px; 
    font-size: 1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    outline: 1px solid #3C3F0F
}

.filter button {
    padding: 10px 20px; 
    background-color: #ffffff; 
    color: #3C3F0F; 
    border: none; 
    border-radius: 20px; 
    font-size: 1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    outline: 1px solid #3C3F0F;
    margin-left: 20px;
}

.archiv-button {
    background-color: #3C3F0F; 
    color: #ffffff;
    padding: 10px 20px;  
    border: none; 
    border-radius: 20px; 
    font-size: 1em; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    margin-left: 20px;
}

.search-container button:hover, .filter button:hover {
    background-color: #3C3F0F; 
    color: #ffffff; 
}

.archiv-button:hover {
    outline: 1px solid #3C3F0F;
    background-color: #ffffff; 
    color: #3C3F0F; 
}

.filter {
    margin-top: 30px;
}

.archiv {
    margin-top: 30px;
    right: -540px;
    top: -68px;
    position: relative;
}

