/* Header */

.menu-item1 a {
    color: #67F0FC!important;
}

.header-image-container {
    position: relative;
    width: 100%;
    height: 884px;
    overflow: hidden;
}

.header-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header-image1480 {
    display: inline-block;
}

.header-image2880 {
    display: none;
}

.hands-image-container {
    /*background-color: #FFFFFF;*/
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
}

.hands-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the image horizontally */
    z-index: 1;
}

.hands-image-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 248, 240, 1) 100%);
}

.hands-image1480 {
    display: inline-block;
}

.hands-image2880 {
    display: none;
}

.header-text {
    color: #ffffff;
    font-size: 2.8em;
    font-family: 'Dancing Script', sans-serif;
    position: absolute;
    top: 743px;
    right: 100px;
    line-height: 25px;
    max-width: 700px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
    width: 55%;
}

.first-line {
    display: block;
    text-align: left;
}

.second-line {
    display: block;
    text-align: right;
}


/* Layout */
#workshops {
    margin-top: -205px;
}

#events {
    margin-top: -22px;
    padding-top: 0px;
}

#sections {
    margin-top: -120px;
}

.section {
    padding-top: 20px;
    width: 100%;
    display: inline-block;
}

.section-title {
    font-size: 3em;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: left;
    border-bottom: 1px solid #000006;
}

.title1 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 3.5em;
    text-align: left;
    margin-left: 350px;
    position: absolute;
    top: 190px;
}

.title2 {
    position: relative;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 3.5em;
    text-align: right;
    right: 160px;
}

.text1 {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: left;
    width: 400px;
    left: 354px;
    padding-bottom: 10px;
    top: 280px;
}

.text2 {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: right;
    right: 164px;
}

.block1 {
    background-color: #ffffff;
    padding: 40px;
    align-items: center;
    height: 160px;
    padding-bottom: 0px;
}

.block1-image-container {
    width: 96%;
    max-width: 1200px;
    text-align: left;
    position: relative;
    top: -212px;
    left: -100px;
}

    .block1-image-container img {
        border: 2px solid #ffffff;
    }

.block2 {
    margin-top: 40px;
    align-items: center;
}

.workshop-more {
    margin: 20px 0; /* Add spacing around */
    position: relative;
    width: 1200px;
}

.workshop-arrow-text {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5em;
    color: #000006;
    text-decoration: none;
    margin-right: 185px; /* Space between the arrow and text */
    white-space: nowrap; /* Prevent wrapping */
    transition: transform 0.3s ease;
    margin-bottom: 0px; /* Space between the text and the arrow */
    text-align: left;
    justify-self: right;
    width: 100px;
    position: relative;
}

.workshop-more a {
    text-decoration: none;
    color: inherit; /* Inherit the color */
}

.workshop-arrow-text:hover {
    transform: scale(1.05); /* Slight hover effect */
}

.event-more {
    margin: 20px 0; /* Add spacing around */
    position: relative;
    width: 1200px;
}

.event-arrow-text {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.5em;
    color: #000006;
    text-decoration: none;
    margin-left: 10px; /* Space between the arrow and text */
    white-space: nowrap; /* Prevent wrapping */
    transition: transform 0.3s ease;
    margin-bottom: 0px; /* Space between the text and the arrow */
    width: 100px;
    text-align: left;
}

.event-more a {
    text-decoration: none;
    color: inherit; /* Inherit the color */
}

.event-arrow-text:hover {
    transform: scale(1.05); /* Slight hover effect */
}

.line-with-arrow {
    width: 1200px; /* Total width of the arrow and line */
    height: 10px; /* Height of the SVG */
    display: inline-block;
}

.workshop-cards {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.evening-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 17px;
    justify-content: center;
    padding-top: 40px;
}

.about-content {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    padding-bottom: 20px;
}

.about-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align: left;
    line-height: 1.6;
}

    .about-text p {
        margin: 0px;
        margin-bottom: 15px;
    }

.about-dances-image {
    padding-right: 20px;
}

.about-us-image {
    padding-left: 20px;
}

.lectors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    gap: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lector {
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.lector-image {
    object-fit: cover;
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.3s ease;
    border: 1px solid #845704;
}

/* Name overlay styling */
.lector-name {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E09E23;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    border: 1px solid #845704;
}

/* Hide the image and show the name overlay on hover */
.lector:hover .lector-image {
    opacity: 0; /* Hide the image */
}

.lector:hover .lector-name {
    opacity: 1; /* Show the name overlay */
}

.logo_image {
    width: 700px;
}

/* Workshop card */
.workshop-card {
    width: 300px;
    height: fit-content;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #69390C;
    padding-bottom: 8px;
    z-index: 3;
}

    .workshop-card a {
        color: #000006;
    }

    .workshop-card:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

.workshop-title {
    font-size: 3em;
    font-family: 'Amatic SC', sans-serif;
    padding-bottom: 10px;
    color: #000006;
    text-align: center;
}

/* .workshop-date {
    background-color: #3C3F0F;
    color: #ffffff;
    border-radius: 15px;
    width: 100px;
    height: 80px;
    position: relative;
    top: -20px;
    left: 220px;
    display: block;
    rotate: 11deg;
    z-index: 1;
    line-height: 80px;
} */

.workshop-content {
    width: 246px;
}

.workshop-image {
    width: 264px;
}


@media (max-width: 1150px) {
    .header-text {
        left: 410px;
    }
}


@media (min-width: 1480px) {
    .hands-image1480 {
        display: none;
    }

    .hands-image2880 {
        display: inline-block;
    }

    .hands-image {
        width: 100%;
    }
}

@media (max-width: 1492px) {
    .header-image {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .block1-image-container {
        left: 0px;
    }
}

@media (min-width: 1921px) {
    .header-image {
        height: auto;
        position: absolute;
        top: 53%;
        transform: translate(-50%, -50%);
    }

    .header-image1480 {
        display: none;
    }

    .header-image2880 {
        display: inline-block;
    }

    .hands-image-container {
        background-image: url("/static/images/ruce2880.jpg");
    }
}

.lidi {
    margin-top: 100px;
    position: relative;
    top: 300px;
    margin-top: -200px;
}

.footer-text1 {
    margin-bottom: 20px;
    top: 230px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    color: #000006;
    position: relative;
}
