body {
    font-family: 'Roboto', sans-serif;
    background-color: #cff2f6;
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #00796b; /* Teal color for headings */
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(255, 77, 136);
    background-color: #e0f7fa;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(255, 77, 136);
    display: inline-block;
}

.description {
    text-align: justify;
    padding: 0px 50px;
    max-width: 800px;
}

.contact {
    color: #00796b;
    text-align: center;
    vertical-align: bottom
}


.lector img {
    height: 300px;
}
