html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #cff2f6;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

h1, h2 {
    text-align: center;
    color: rgb(255, 77, 136);
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.lector-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.lector {
    background-color: #e0f7fa;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
}

.lector img {
    height: 300px;
}

.lector-description {
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: justify;
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    color: #00796b;
    text-align: center;
    vertical-align: bottom;
    margin-top: 20px;
}

.lector-events {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    justify-items: center;
}

.lector-events-title {
    margin-bottom: 0px;
}

/* Styles for each event card */
.event, .workshop {
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 350px; 
    height: auto;
    box-sizing: border-box;
    text-align: center;
}

/* Specific styles for h2 within event and workshop class */
.event-title, .workshop-title {
    font-size: 1.8em;
    color: rgb(255, 77, 136);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

/* Styles for event and workshop details */
.event-details, .workshop-details {
    background-color: #ffffff;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.event-details p,
.workshop-details p {
    margin: 5px 0; /* Reduce the margin between paragraphs */
}

.event-details a, .workshop-details a {
    word-wrap: break-word; 
    color: #00796b; 
    text-decoration: underline; /* Ensure links are underlined */
}

.event-details a:hover, .workshop-details a:hover {
    color: rgb(255, 77, 136);
    text-decoration: underline;
}

/* Ensure that links within the event-lector and workshop-lector class are not underlined */
.event-lector a, .workshop-lector a {
    text-decoration: none;
    color: #00796b;
}

.event-lector a:hover, .workshop-lector a:hover {
    color: rgb(255, 77, 136);
    text-decoration: underline;
}

.event-date, .workshop-date {
    font-size: 1.2em;
    padding-top: 8px;
    padding-bottom: 3px;
}

.event-lector,
.workshop-lector {
    margin-bottom: 7px; /* Reduce the bottom margin */
}

.event-location,
.workshop-location {
    margin-bottom: 7px; /* Reduce the bottom margin */
}

.event-description,
.workshop-description {
    margin-top: 7px; /* Reduce the top margin */
}

/* Hidden description */
.description {
    overflow: hidden;
    height: 40px;
    transition: height 0.3s ease;
    margin: 0px;
}

.event img, .workshop img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 200px;
}

/* Toggle button */
.toggle-description {
    display: inline-block;
    margin-top: 0px;
    padding: 5px 10px;
    border: none;
    background-color: #00796b;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for event and workshop cards */
.event:hover, .workshop:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.no-events{
    margin-top: 0px;
}

.archiv {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.archiv-button {
    padding: 10px 20px;
    margin-right: 40px;
    background-color: #ffffff;
    color: rgb(255, 77, 136);
    border: none;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.archiv-button:hover {
    background-color: #ffffff;
    color: #00796b;
}