.header {
    background-color: #55768F;
}

.menu-item3 a {
    color: #67F0FC !important;
}

a {
    color: #3C3F0F;
}

/* Navigation */
.lector-navigation {
    position: relative;
    width: 100%;
    height: 0;
    margin-bottom: 20px;
    top: 74px;
}

.nav-arrow {
    text-decoration: none;
    font-size: 2em;
    color: #3C3F0F;
    position: absolute;
    top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-origin: center;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.nav-arrow:hover {
    transform: scale(1.08);
    font-weight: bold;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Lector detail */
.lector-detail {
    display: inline-block;
    margin-top: 120px;
    width: 100%;
}

    .lector-detail img {
        max-width: 40%;
        margin-right: 16px;
        margin-bottom: 2px;
        vertical-align: top;
        float: left;
        max-height: 60vh;
    }

.lector-detail-name {
    font-size: 3em;
    font-family: 'Ysabeau SC', sans-serif;
    text-align: left;
    border-bottom: 1px solid #000006;
    margin-bottom: 30px;
}


.lector-detail-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.4;
    vertical-align: top;
}

/* Contact */
.lector-detail-contact {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #000006;
}

.lector-detail-email {
    position: absolute;
    text-align: left;
    bottom: 10px;
}

.lector-detail-phone {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    bottom: 10px;
}

.lector-detail-rightgroup {
    margin-left: auto;
    text-align: right;
    margin-bottom: 10px;
    max-width: 39%;
}

.lector-detail-rightgroup-ifnophone {
    max-width: 66%;
}

.lector-detail-fb {
}

    .lector-detail-fb a:hover {
        color: #006090;
    }

.lector-detail-fb img {
    margin-right: 4px;
}

.lector-detail-fb div {
    display: inline-block;
    position: relative;
    top: -2px;
}

.lector-detail-link {
}

    .lector-detail-link a:hover {
        color: #006090;
    }

/* Events */

#events {
    text-align: center;
}

.events-grid {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto;
    margin-top: 44px;
}

.no-events {
    color: #282828;
    font-family: 'Raleway', sans-serif;
}

.ludmila-inmem {
    font-size: 1.7em;
    margin-top: 30px;
    line-height: 40px;
    font-family: 'Ysabeau SC', sans-serif;
}

/* Workshop specific styles - same as in event.css */

.workshop-card {
    height: 432px;
    grid-row: span 2;
}

.workshop-content {
    height: 333px;
}

.workshop-image {
    width: 206px;
    max-height: 140px;
    object-fit: cover;
}

.workshop-long-title .workshop-content {
    height: 307px;
    margin-top: -4px;
}

@media (max-width: 1200px) {
    .events-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 960px) {
    .events-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 760px) {
    .lector-detail img {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 6px;
    }

    .lector-detail-name {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .lector-detail-description {
        font-size: 1em;
    }

    .lector-navigation {
        top: 60px;
    }

    .left-arrow {
        left: 10px;
    }

    .right-arrow {
        right: 10px;
    }

    .lector-detail-contact {
        font-size: 0.6em;
    }
}

@media (max-width: 720px) {
    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .events-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
