.header {
    background-color: #55768F;
}

.menu-item2 a {
    color: #67F0FC!important;
}

.section-container {
    color: #000006;
    width: 1200px;
}

.workshop-image {
    width: 45%;
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
}

.workshop-text {
    margin-top: 150px;
    margin-left: 0px;
    padding-left: 0px;
}

.workshop-title {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 4.3em;
    padding-bottom: 5px;
    margin-right: -6px;
    white-space: nowrap;
    text-align: left;
}

.workshop-date {
    font-family: 'Pompiere', sans-serif;
    font-size: 2em;
    padding-bottom: 10px;
    text-align: left;
}

.workshop-time {
    font-family: 'Pompiere', sans-serif;
    font-size: 2em;
    padding-bottom: 10px;
    text-align: left;
}

.workshop-address {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
}

.workshop-description {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.4;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: left; 
    width: 100%;
}

.workshop-link {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-align: left;
    line-height: 1.4;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: left; 
    width: 100%;
    color: #3C3F0F;
}

.workshop-link a {
    text-decoration: none;
    color: inherit;
}

.lectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;  
    gap: 20px; 
    padding: 0 20px;
    margin-top: 40px;
}

.lector {
    flex: 0 1 150px;  
    max-width: 200px;
    padding: 10px;
    transition: transform 0.3s;
    box-sizing: border-box;
    text-align: center;  
}

.lector:hover {
    transform: scale(1.05);
}

.lector img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #3C3F0F;
}

.name {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #3C3F0F;
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}

.name a {
    border-bottom: none;
}

